body {
    font-family: helvetica, sans-serif;
    background: #fefefb;
}

.navbar {
    margin: auto;
    width: 80%;
    text-align: center;
    border-bottom: solid 2px #187e23;
    padding-bottom: 1em;
}

.home-button {
    display: inline;
    margin: 0;
    padding: 0;
}

.home-button a{
    color: #187e23;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.website-nav a{
    font-size: 1.15em;
    text-decoration: none;
    color: black;
}

.navbar ul {
    list-style-type: none;
    display: inline;
}

.website-nav li {
    display: inline-block;
    margin-right: 1.2em;
}

.headline {
    margin: auto;
    width: 50%;
    overflow: auto;
}

.headline h1 {
    color: #187e23;
    font-size: 2em;
}

.home-headline {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    align-items: center;
}

.headline-text {
    flex: none;
    margin: auto;
}

.headline-text h1 {
    color: #187e23;
    font-size: 2em;
}

.headline-text p {
    font-size: 1.15em;
    line-height: 2em;
}

.headline-image {
    flex: none;
    margin: auto;
    padding: 2em;
}

.recent-posts {
    margin: auto;
    width: 80%;
}

.recent-posts h1 {
    color: #187e23;
    font-size: 2em;
    text-align: center;
}

.recent-posts table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
}

.recent-posts img {
    width: 100%;
    height: auto;
}

.recent-posts .title {
    text-align: left;
    font-size: 1.5em;
}

.recent-posts a {
    color: black;
    text-decoration: none;
}

.recent-posts .date {
    font-size: .9em;
    color: #3a3a3a;
    font-style: italic;
    text-align: left;
}

.recent-post-border {
    margin: auto;
    width: 40%;
    border-bottom: solid 2px #187e23;
}

.blog-list {
    margin: auto;
    width: 40%;
    text-align: center;
    font-size: 1.15em;
}

.blog-list li {
    list-style-type: none;
}

.blog-list a {
    text-decoration: none;
    color: black;
}

.blog-post {
    width: 50%;
    margin: auto;
}

.blog-post h1 {
    font-size: 2em;
    color: #187e23;
}

.blog-post h3 {
    font-size: .9em;
    color: #3a3a3a;
    font-style: italic;
}

.blog-post p {
    font-size: 1.15em;
    line-height: 2em;
}

.blog-post h2 {
    font-size: 1.5em;
}

.blog-post ul {
    font-size: 1.15em;
    line-height: 2em;
}

.blog-post a {
    text-decoration: none;
    color: #187e23;
}

.blog-post h5 {
    font-size: 1.3em;
}

.blog-post img {
    width: 100%;
    height: auto;    
}

.post-border {
    margin: auto;
    width: 80%;
    border-bottom: solid 2px #187e23;    
}

.footer {
    width: 80%;
    margin: auto;
}

.footer table {
    width: 100%;
}

.footer img {
    width: 2em;
    height: auto;
    margin-left: 1em;    
}

.footer .socials {
    text-align: right;
}
